###가설 : K-Beauty는 성장하고 있을까? 해외 직접판매를 한다면 어느 국가로 판매전략을 세우면 좋을까?

### 라이브러리 가져오기

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

###그래프 및 한글 폰트 기본 설정

In [2]:
#맷플롯립 폰트 관련 매니저
import matplotlib.font_manager as fm

####시각화를 위한 폰트 설정

In [3]:
from IPython.display import set_matplotlib_formats
#그래프에서 격자로 숫자 범위가 눈에 잘 띄도록 'ggplot' 스타일을 사용
plt.style.use('ggplot')
# 폰트가 선명하게 보이기 위해
set_matplotlib_formats('retina')

In [4]:
#그래프에서 마이너스 폰트 깨지는 문제 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

####시스템에 설치된 폰트 확인

In [5]:
sys_font=fm.findSystemFonts()
print("sys_font number : ",len(sys_font))

nanum_font = [f for f in sys_font if "Nanum" in f]
print("nanum_font number : ",len(nanum_font))

print("시스템에 설치된 폰트 경로 : ",sys_font)

sys_font number :  48
nanum_font number :  31
시스템에 설치된 폰트 경로 :  ['/usr/share/fonts/truetype/nanum/NanumSquareRoundR.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-Italic.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-BoldItalic.ttf', '/usr/share/fonts/truetype/nanum/NanumGothic.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareEB.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunpenR.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-BoldItalic.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Italic.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-Regular.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareB.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicEcoExtraBold.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoBold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-BoldItalic.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareRoundL.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicEcoBold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Bold.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjoBold.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunpenB.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicExtraBold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Bold.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareR.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicCoding.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareRoundB.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicCoding-Bold.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunGothicLight.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjoEco.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-BoldItalic.ttf', '/usr/share/fonts/truetype/humor-sans/Humor-Sans.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Italic.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicLight.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareL.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjoExtraBold.ttf', '/usr/share/fonts/truetype/nanum/NanumGothicEco.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunGothicBold.ttf', '/usr/share/fonts/truetype/nanum/NanumSquareRoundEB.ttf', '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoExtraBold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-Bold.ttf', '/usr/share/fonts/truetype/nanum/NanumBarunGothicUltraLight.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Italic.ttf', '/usr/share/fonts/truetype/nanum/NanumPen.ttf', '/usr/share/fonts/truetype/nanum/NanumBrush.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Bold.ttf']

####폰트 인스톨

In [6]:
#나눔고딕 폰트 인스톨
!apt-get update -qq
!apt-get install fonts-nanum* -qq
fm._rebuild()

In [7]:
nanum_font = [f for f in sys_font if "Nanum" in f]
print("nanum_font number : ",len(nanum_font))

nanum_font

nanum_font number :  31

['/usr/share/fonts/truetype/nanum/NanumSquareRoundR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareEB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunpenR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEcoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundL.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEcoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunpenB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareR.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicCoding.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicCoding-Bold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicLight.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEco.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicLight.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareL.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumGothicEco.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumSquareRoundEB.ttf',
 '/usr/share/fonts/truetype/nanum/NanumMyeongjoEcoExtraBold.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBarunGothicUltraLight.ttf',
 '/usr/share/fonts/truetype/nanum/NanumPen.ttf',
 '/usr/share/fonts/truetype/nanum/NanumBrush.ttf']

###폰트 지정 및 확인

In [8]:
print("현재 설정 폰트",plt.rcParams['font.family'])

#한글폰트경로(나눔바른고딕)
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'

font_name = fm.FontProperties(fname=fontpath).get_name()
print(font_name)
# 맷플롯라이브러리에 폰트 설정
plt.rc('font', family='NanumBarunGothic') 

print("현재 설정 폰트",plt.rcParams['font.family'])

현재 설정 폰트 ['sans-serif']
NanumBarunGothic
현재 설정 폰트 ['NanumBarunGothic']

###데이터 로드하기

In [12]:
df_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataScience/Data/국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20210520105342.csv', encoding='cp949')

In [17]:
#국가(대륙)별 데이터 빈도수 세기
df_raw['국가(대륙)별'].value_counts()

중남미           45
유럽연합(EU)      45
기타            45
미국            45
대양주           45
합계            45
일본            45
아세안(ASEAN)    45
중동            45
중국            45
Name: 국가(대륙)별, dtype: int64

In [18]:
#미국 데이터만 보기
df_raw[df_raw['국가(대륙)별'] == '미국']

   국가(대륙)별          상품군별   판매유형별  ... 2019 2/4 2019 3/4 2019 4/4
45      미국            합계       계  ...    44973    55512    54054
46      미국            합계     면세점  ...     2951     1818     1481
47      미국            합계  면세점 이외  ...    42022    53694    52573
48      미국    컴퓨터 및 주변기기       계  ...     1408     1653     1383
49      미국    컴퓨터 및 주변기기     면세점  ...        0        0        0
50      미국    컴퓨터 및 주변기기  면세점 이외  ...     1408     1653     1383
51      미국    가전·전자·통신기기       계  ...     1837     3166     1787
52      미국    가전·전자·통신기기     면세점  ...      116      107       49
53      미국    가전·전자·통신기기  면세점 이외  ...     1721     3059     1738
54      미국         소프트웨어       계  ...      156      118      338
55      미국         소프트웨어     면세점  ...        0        0        0
56      미국         소프트웨어  면세점 이외  ...      156      118      338
57      미국           서 적       계  ...     1563     2596     1720
58      미국           서 적     면세점  ...        0        0        0
59      미국           서 적  면세점 이외  ...     1563     2596     1720
60      미국         사무·문구       계  ...       72       83      101
61      미국         사무·문구     면세점  ...        0        0        0
62      미국         사무·문구  면세점 이외  ...       72       83      101
63      미국     음반·비디오·악기       계  ...     5191     5762     4786
64      미국     음반·비디오·악기     면세점  ...        0        0        0
65      미국     음반·비디오·악기  면세점 이외  ...     5191     5762     4786
66      미국  의류 및 패션 관련상품       계  ...    13683    13368    16161
67      미국  의류 및 패션 관련상품     면세점  ...      115       95       91
68      미국  의류 및 패션 관련상품  면세점 이외  ...    13568    13273    16070
69      미국      스포츠·레저용품       계  ...     1602     3150      864
70      미국      스포츠·레저용품     면세점  ...        0        0        0
71      미국      스포츠·레저용품  면세점 이외  ...     1602     3150      864
72      미국           화장품       계  ...    11310    13999    13494
73      미국           화장품     면세점  ...     2647     1550     1271
74      미국           화장품  면세점 이외  ...     8663    12449    12223
75      미국       아동·유아용품       계  ...     1153     1702     1928
76      미국       아동·유아용품     면세점  ...        0        0        0
77      미국       아동·유아용품  면세점 이외  ...     1153     1702     1928
78      미국         음·식료품       계  ...      313      602      424
79      미국         음·식료품     면세점  ...       73       64       70
80      미국         음·식료품  면세점 이외  ...      240      538      354
81      미국         농축수산물       계  ...        2        7        2
82      미국         농축수산물     면세점  ...        0        0        0
83      미국         농축수산물  면세점 이외  ...        2        7        2
84      미국  생활용품 및 자동차용품       계  ...     2410     3409     3713
85      미국  생활용품 및 자동차용품     면세점  ...        0        2        0
86      미국  생활용품 및 자동차용품  면세점 이외  ...     2410     3407     3713
87      미국           기 타       계  ...     4273     5897     7353
88      미국           기 타     면세점  ...        0        0        0
89      미국           기 타  면세점 이외  ...     4273     5897     7353

[45 rows x 27 columns]

###분석과 시각화를 위한 tidy data 만들기

In [23]:
df_raw.head(3)

  국가(대륙)별 상품군별   판매유형별 2014 1/4  ... 2019 1/4 2019 2/4 2019 3/4 2019 4/4
0      합계   합계       계   148272  ...  1251122  1345723  1526135  1881628
1      합계   합계     면세점        -  ...  1070693  1157158  1336372  1655635
2      합계   합계  면세점 이외        -  ...   180429   188565   189763   225993

[3 rows x 27 columns]

In [25]:
df = df_raw.melt(id_vars=['국가(대륙)별','상품군별','판매유형별'],var_name='기간',value_name='백만원')
df

      국가(대륙)별          상품군별   판매유형별        기간     백만원
0          합계            합계       계  2014 1/4  148272
1          합계            합계     면세점  2014 1/4       -
2          합계            합계  면세점 이외  2014 1/4       -
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       -
...       ...           ...     ...       ...     ...
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531
10797      기타           기 타       계  2019 4/4    1094
10798      기타           기 타     면세점  2019 4/4       1
10799      기타           기 타  면세점 이외  2019 4/4    1093

[10800 rows x 5 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  10800 non-null  object
 1   상품군별     10800 non-null  object
 2   판매유형별    10800 non-null  object
 3   기간       10800 non-null  object
 4   백만원      10800 non-null  object
dtypes: object(5)
memory usage: 422.0+ KB

###데이터 전처리

####기간에서 연도,분기를 분리하기

'4'

In [43]:
#map함수 매개변수는 func(함수)를 받기 때문에 람다를 지정
#람다 : x값은 매개변수로 받아오고 : 매개변수에 함수를 사용
df['연도'] = df['기간'].map(lambda x : int(x.split()[0]))
df['분기'] = df['기간'].map(lambda x : int(x.split()[1].split('/')[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도  분기
0      합계          합계       계  2014 1/4  148272  2014   1
1      합계          합계     면세점  2014 1/4       -  2014   1
2      합계          합계  면세점 이외  2014 1/4       -  2014   1
3      합계  컴퓨터 및 주변기기       계  2014 1/4    4915  2014   1
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4       -  2014   1

####금액을 수치데이터로 표현하기 위해 데이터 타입 변경

In [55]:
# - 문자를 결측치로 변경하고  float 타입으로 변경
df['백만원']= df['백만원'].replace('-',np.nan).astype(float)
df.head()

  국가(대륙)별        상품군별   판매유형별        기간       백만원    연도  분기
0      합계          합계       계  2014 1/4  148272.0  2014   1
1      합계          합계     면세점  2014 1/4       NaN  2014   1
2      합계          합계  면세점 이외  2014 1/4       NaN  2014   1
3      합계  컴퓨터 및 주변기기       계  2014 1/4    4915.0  2014   1
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4       NaN  2014   1

####필요없는 데이터 제거

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  10800 non-null  object
 1   상품군별     10800 non-null  object
 2   판매유형별    10800 non-null  object
 3   기간       10800 non-null  object
 4   백만원      7200 non-null   float64
 5   연도       10800 non-null  int64
 6   분기       10800 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 590.8+ KB

In [65]:
#합계 데이터는 따로 구할 수 있기 때문에 전체 데이터에서 제거
df = df[(df['국가(대륙)별'] != '합계') & (df['상품군별'] != '합계')].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 48 to 10799
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  9072 non-null   object
 1   상품군별     9072 non-null   object
 2   판매유형별    9072 non-null   object
 3   기간       9072 non-null   object
 4   백만원      6048 non-null   float64
 5   연도       9072 non-null   int64
 6   분기       9072 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 567.0+ KB

In [66]:
#결측치 보기
df.isnull().sum()

국가(대륙)별       0
상품군별          0
판매유형별         0
기간            0
백만원        3024
연도            0
분기            0
dtype: int64